.nav_bar
{
    position: fixed;
    width: 100vw;
    top: 0px;
    height: fit-content;
    overflow: hidden;
    background-image: url("/public/assets/plank_texture.svg");
    background-repeat: repeat-x;
    background-size: 192px calc(26px * 2px);
}

.nav_bar_ul
{
    list-style-type: none;
    top: 0px;
    margin: 0px;
    padding: 0px;
    height: 40px;
    /* background-color: #49a741; */
}

.nav_bar_title
{
    position: fixed;
    color: #fffefa;
    left: 40px;
    padding: 6px;
    font-size: 20px;
}

.nav_bar_image
{
    position: fixed;
    left: 0px;
    width: 40px;
    height: 40px;
}

li a
{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fffefa;
    font-size: "30px";
    font-weight: bold;
}

.nav_bar_li
{
    display: inline-block;
    /* background-color: #76f5ca; */
    /* background-color: #49a741; */
}

.nav_bar_li:hover
{
    /* background-color: #66ceab; */

    filter: brightness(93%);
}

.nav_bar_li_selected
{
    display: inline-block;
    /* background-color: #48e8b2; */
    /* background-color: var(--primary-color); */
    filter: brightness(85%);
}