.game_items
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 75px;
    padding-bottom: 300px;
}

/* @media (max-width: 450px)
{
    .game_item_div
    {
        margin-left: auto;
        margin-right: auto;
    }
} */