.invite_game_div
{
    left: 0px;
    right: 0px;
    width: 400px;
    height: 260px;
    border-radius: 20px;
}

.invite_game_friends_div
{
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: 150px;
}

.invite_game_friends_table
{
    width: 200px;
}