.nav_bar, .nav_bar_short
{
    z-index: 3;
}

.nav_bar
{
    position: fixed;
    width: 100vw;
    top: 0px;
    height: fit-content;
    overflow: hidden;
    background-image: url("/public/assets/plank_texture.svg");
    background-repeat: repeat-x;
    background-size: 192px calc(26px * 2px);
}

.nav_bar_login_div_container
{
    overflow: hidden;
}

.nav_bar_login_div
{
    background-color: var(--light-secondary-color);
    position: fixed;
    right: 0px;
    width: 400px;
    height: 220px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: margin-top 0.3s;
}

.nav_bar_ul
{
    list-style-type: none;
    top: 0px;
    margin: 0px;
    padding: 0px;
    height: 40px;
}

.nav_bar_title
{
    position: fixed;
    top: 6px;
    left: 42px;
    font-size: 20px;
    padding: 0px;
    height: 40px;
}

.nav_bar_center_title
{
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 20px;
    padding: 0px;
    height: 40px;
}

.nav_bar_title_a
{
    padding: 0px;
}

.nav_bar_image
{
    position: fixed;
    left: 0px;
    width: 40px;
    height: 40px;
}

li a
{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fffefa;
    font-weight: bold;
}

.nav_bar_li
{
    display: inline-block;
    /* background-color: #76f5ca; */
    /* background-color: #49a741; */
}

.nav_bar_li:hover
{
    /* background-color: #66ceab; */

    filter: brightness(87.5%);
}

.nav_bar_li_selected
{
    display: inline-block;
    /* background-color: #48e8b2; */
    /* background-color: var(--primary-color); */
    filter: brightness(80%);
}

.nav_bar_menu_button
{
    position: fixed;
    border: none;
    width: 25px;
    height: 25px;
    right: 5px;
    margin-top: 7px;
    background-color: transparent;
    background-image: url("/public/assets/menu_item.svg");
}

.nav_bar_menu_button:hover
{
    filter: brightness(85%);
}

.nav_bar_menu_button:active
{
    filter: brightness(75%);
}

.nav_bar_menu_div
{
    position: fixed;
    right: 0px;
    height: fit-content;
    background-image: url("/public/assets/plank_texture.svg");
    background-repeat: repeat-y;
    background-size: 50% calc(50% * 2px);
}

.nav_bar_menu_div_nail
{
    position: absolute;
    z-index: 20;
    width: 7px;
    height: 7px;
    background-color: black;
    border-radius: 5px;
}

.top_left_nail
{
    top: 2px;
    left: 2px;
}

.top_right_nail
{
    top: 2px;
    right: 2px;
}

.bottom_left_nail
{
    bottom: 2px;
    left: 2px;
}

.bottom_right_nail
{
    bottom: 2px;
    right: 2px;
}

.nav_bar_menu_div a
{
    display: block;
    text-decoration: none;
    /* background-color: #bf9000; */
    background-color: transparent;
    color: #fffefa;
    margin-right: 0px;
    padding: 4px;
}

.nav_bar_username
{
    display: inline-block;
    color: #fffefa;
    position: fixed;
    top: 5px;
    right: 6px;
    font-size: 20px;
}

.nav_bar_login_button, .nav_bar_sign_up_button
{
    display: inline-block;
    position: fixed;
    border: none;
    color: #fffefa;
    background-color: transparent;
    font-weight: bold;
    height: 34px;
    font-size: 17px;
    top: 3px;
}

.nav_bar_sign_up_button a
{
    visibility: hidden;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
}

.nav_bar_login_button:hover, .nav_bar_sign_up_button:hover
{
    filter: brightness(87.5%);
}

.nav_bar_login_button:active, .nav_bar_sign_up_button:active
{
    filter: brightness(80%);
}

.nav_bar_login_button
{
    width: 80px;
    right: 83px;
}

.nav_bar_sign_up_button
{
    width: 80px;
    right: 0px;
}

.nav_bar_menu_div a:hover
{
    filter: brightness(85%);
}

.nav_bar_menu_div a:active
{
    filter: brightness(75%);
}

@media (max-width: 720px)
{
    .nav_bar_regular
    {
        display: none;
    }
}

@media (min-width: 720px)
{
    .nav_bar_short
    {
        display: none;
    }

    
}