.game_pause_button
{
    width: 45px;
    height: 45px;
    top: 3px;
    right: 3px;
}

.game_gas_bar
{
    width: fit-content;
    bottom: 6px;
    left: 3px;
}

.game_gas_bar_text
{
    position: absolute;
    font-size: 23px;
    margin: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game_coins_div
{
    top: 3px;
}

.game_coins_image
{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 3px;
}

.game_coins_text
{
    position: absolute;
    margin: 0px;
    left: 55px;
    font-weight: bold;
    font-size: 30px;
}

.game_form_ui_div
{
    position: absolute;
    background-color: #beb9b9ce;
    border-radius: 25px;
    left: 50%;
    top: 50%;
    width: 75%;
    height: 75%;
    transform: translate(-50%, -50%);
}

.game_form_ui_close
{
    position: absolute;
    width: 35px;
    height: 35px;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.game_form_ui_back
{
    position: absolute;
    border: none;
    background-color: transparent;
    width: 80px;
    height: 40px;
    left: 20px;
    top: 20px;
    cursor: pointer;
}

.game_form_ui_div *
{
    /* margin: 0px; */
}

.game_ui_race_map
{
    width: 500px;
    height: 10px;
    border-radius: 5px;
    background-color: gainsboro;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.game_ui_race_map_icon
{
    position: absolute;
    width: 30px;
    height: 30px;
    top: -10px;
}

.game_ui_race_map_start
{
    left: -10px;
}

.game_ui_race_map_finish
{
    right: -10px;
}

.game_ui_countdown
{
    width: fit-content;
    height: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.game_ui_countdown > p
{
    font-size: 180px;
    font-family: fantasy;
    color: orange;
    -webkit-text-fill-color: yellow;
    -webkit-text-stroke: 5px;
    transition: font-size 1s;
}

.game_form_ui_sections
{
    display: flex;
    margin-top: 60px;
    overflow-y: auto;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 15px;
    height: 400px;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
}

.game_gas_station_ui_section
{
    background-color: cadetblue;
    width: 180px;
    height: 300px;
}

.game_body_shop_ui_section
{
    background-color: dimgray;
    width: 180px;
    height: 300px;
}

.game_garage_ui_section
{
    background-color: rgb(166, 206, 207);
    border: none;
    width: 180px;
    height: 180px;
    cursor: pointer;
}

.game_garage_ui_section > img
{
    width: 65%;
    height: 65%;
}

.game_garage_ui_section > h2, .game_garage_ui_section > p
{
    margin: 5px;
}

.game_garage_ui_section:hover
{
    filter: brightness(92%);
}

.game_garage_ui_section:active
{
    filter: brightness(88%);
}

.game_form_ui_sections > div
{
    display: flex;
    flex-direction: column;
}

.game_ui_buy_button_div
{
    margin-top: auto;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
}

.game_ui_buy_button_div > button
{
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    height: fit-content;
    font-size: 15px;
    cursor: pointer;
}

.game_ui_buy_button_div > button > img
{
    display: inline-block;
    width: 30px;
    height: 30px;
}

.game_ui_buy_button_div > button > p
{
    display: inline-block;
    width: fit-content;
    margin: 0;
    padding: 0px;
}

.game_wheel_shop_ui_section
{
    background-color: coral;
    width: 30%;
    height: 300px;
}

.game_wheel_shop_ui_section > img
{
    width: 100px;
    height: 100px;
}

.game_press_to_interact
{
    position: absolute;
    margin: 0px;
    right: 5px;
    bottom: 5px;
    font-weight: bold;
    font-size: 22px;
}