.App
{
    text-align: center;
}

:root
{
    /* --primary-light-color: #6fa8dc;
    --primary-color: #3c78d8;
    --primary-secondary-mix-color: #45818e;
    --secondary-color: #6aa84f;
    --secondary-light-color: #93c47d; */
    --light-primary-color: #fed55a;
    --primary-color: #e5b522;
    --dark-primary-color: #d2a10b;
    --dark-secondary-color: #3d85c6;
    --secondary-color: #6d9eeb;
    --light-secondary-color: #9fc5e8;
}

*
{
    -webkit-user-drag: none; /*disable drag from all elements*/
}

body
{
    /* background-image: url("../public/assets/background_texture.svg");
    background-size: 32px;
    background-repeat: repeat;
    background-color: #dbdbdb; */
    background-image: url("../public/assets/background.svg");
    background-color: #c4c4c4;
    background-size: 480px 360px;
    background-repeat: repeat;
}

.printable_ui_logo_div
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    left: 10px;
}

.printable_ui_logo_div > img
{
    max-width: 70px;
    height: 28px;
}

.printable_ui_logo_div > p
{
    margin: 0px;
}

@media screen
{
    .printable {display: none;}
    .non_printable {display: block;}
}

@media print
{
    .printable {display: block;}
    .non_printable {display: none;}
}

.nav_bar_body
{
    margin-top: 40px;
}

.center_align
{
    margin-left: auto;
    margin-right: auto;
}

.action_button
{
    width: 25px;
    height: 25px;
    border-width: 1px;
    opacity: 1;
}

.action_button_resizable
{
    border-width: 1px;
    opacity: 1;
}

.action_button:hover, .action_button_resizable:hover
{
    opacity: 0.85;
    cursor: pointer;
}

.action_button:active, .action_button_resizable:active
{
    opacity: 0.6;
}

.accept_button
{
    background: url("../public/assets/accept_box.svg");
}

.decline_button
{
    background: url("../public/assets/decline_box.svg");
}

.message_button
{
    background: url("../public/assets/message_box.svg");
}

.invite_button
{
    background: url("../public/assets/invite_box.svg");
}

.add_button
{
    background: url("../public/assets/add_box.svg");
}

.refresh_button
{
    background: url("../public/assets/refresh_box.svg");
}

.link_button
{
    background: url("../public/assets/link_box.svg");
}

.loading_button
{
    background: url("../public/assets/loading_box.svg");
}

.pause_button
{
    background: url("../public/assets/pause_box.svg");
}

.back_arrow_button
{
    background: url("../public/assets/back_box.svg");
}

.App-header
{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link
{
    color: #61dafb;
}