.App
{
    text-align: center;
}

:root
{
    /* --primary-light-color: #6fa8dc;
    --primary-color: #3c78d8;
    --primary-secondary-mix-color: #45818e;
    --secondary-color: #6aa84f;
    --secondary-light-color: #93c47d; */
    --light-primary-color: #fed55a;
    --primary-color: #e5b522;
    --dark-primary-color: #d2a10b;
    --dark-secondary-color: #3d85c6;
    --secondary-color: #6d9eeb;
    --light-secondary-color: #9fc5e8;
}

*
{
    -webkit-user-drag: none; /*disable drag from all elements*/
}

.center_align
{
    margin-left: auto;
    margin-right: auto;
}

.social_action_element
{
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
}

.nav_bar_li:hover
{
    /* background-color: #66ceab; */
    filter: brightness(95%);
}

.nav_bar_li
{
    /* background-color: #76f5ca; */
    background-color: var(--primary-color);
}

.nav_bar_li_selected
{
    /* background-color: #48e8b2; */
    background-color: var(--primary-color);
    filter: brightness(85%);
}

.nav_bar_body
{
    margin-top: 50px;
}

li
{
    display: inline-block;
}

li a
{
    display: block;
    padding: 10px;
    text-decoration: none;
}

.game_items
{
    justify-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 75px;
    padding-bottom: 300px;
}

.friends_div_template
{
    border: 2px solid black;
    overflow-y: auto;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    scroll-margin: 10px;
}

.friends_table_template
{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.friends_td, .friends_tr
{
    text-align: left;
    border-collapse: separate;
    border-spacing: 0px 0;
}

.friends_table_text
{
    padding-left: 5px;
    text-align: left;
    width: 415px;
}

.form_template
{
    position: absolute;
    left: 0px;
    right: 0px;
    background-color: var(--light-secondary-color);
    border-radius: 30px;
}

.invite_game_div_close
{
    position: absolute;
    top: 15px;
    right: 15px;
}

.action_button
{
    width: 25px;
    height: 25px;
    border-width: 1px;
    opacity: 1;
}

.action_button:hover
{
    opacity: 0.85;
}

.action_button:active
{
    opacity: 0.6;
}

.accept_button
{
    background: url("../public/accept_box.svg");
}

.decline_button
{
    background: url("../public/decline_box.svg");
}

.message_button
{
    background: url("../public/message_box.svg");
}

.invite_button
{
    background: url("../public/invite_box.svg");
}

.add_button
{
    background: url("../public/add_box.svg");
}

.refresh_button
{
    background: url("../public/refresh_box.svg");
}

.App-header
{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link
{
    color: #61dafb;
}